<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>      
    </header>

    <main>
        <h2> Gevonden event(s)</h2>

        <div>
            <h2> <%= data.naamevent %> </h2>
            <p> <%= data.reistijd %> </p>
        </div>

    

        <aside class="side-menu">
            <h3>Auto's van andere</h3>
            <div class="auto-cont">
            </div>
        </aside>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="js/index.js"></script>
</body>
</html>